body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.logo {
    display: inline-block;
    width: 3rem;
    padding-left: 1rem;
}

.top-navigation {
    display: flex;
    padding: .5rem;
    background: linear-gradient(to right bottom, rgb(200, 200, 200), rgb(100, 100, 100));
    box-shadow: 0px 2px 1.5rem rgba(0, 0, 0, .3);
    z-index: 99999;
    font-family: monospace;
    position: absolute;
    top: 0;
    width: 100%;
}

.top-navigation .menu-tools {
    padding-right: 1rem;
}

.top-navigation > ul li > a[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    color: #fff;
    z-index: 9999;
    background-color: #000;
    border-radius: .25rem;
    font-size: .9rem;
    padding: .5rem;
    animation: tooltip .3s forwards;
}

@keyframes tooltip {
    from {
        top: .5rem;
        opacity: 0;
    }
    to {
        top: 1.5rem;
        opacity: 1;
    }
}

.top-navigation .menu, .top-navigation .menu-tools {
    list-style: none;
    display: inline-block;
    color: rgba(0, 0, 0, .5);
}

.top-navigation .menu li, .top-navigation .menu-tools li {
    display: inline-block;
    cursor: pointer;
}

.top-navigation .menu li > a, .top-navigation .menu-tools li > a {
    color: inherit;
    transition: color .3s;
    text-decoration: none;
    position: relative;
}

.top-navigation .menu li > a:hover, .top-navigation .menu-tools li > a:hover {
    color: #000;
}

.top-navigation .menu {
    border-left: 1px solid rgba(0, 0, 0, .5);
    padding: 0;
}

.top-navigation .menu li {
    padding: 0 1rem;
}

.top-navigation .menu li span {
    font-size: .9rem;
}

#canvas-bezier-curve {
    background-color: #fff;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    box-shadow: inset 0px 0px 1rem rgba(0, 0, 0, .5);
}

.toolbox {
    font-family: monospace;
    padding: 1rem;
    position: absolute;
    top: 5rem;
    z-index: 9999;
    background: linear-gradient(to right bottom, rgb(200, 200, 200), rgb(100, 100, 100));
    border-radius: .25rem;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, .3);
    width: 280px;
}

.to-left {
    left: 1.5rem;
    width: auto;
}

.to-right {
    right: 1.5rem;
}

.test {
    background-color: #71A8FF;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation-name: test;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}

.animation-test {
    width: 280px;
    position: relative;
    display: block;
    height: 1rem;
    margin: .5rem 0 .75rem 0;
}

@keyframes test {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(calc(280px - 1rem));
    }
}

.control-btn {
    width: 100%;
    border-radius: .25rem;
    font-family: monospace;
    border: none;
    padding: .5rem 0;
    background-color: rgba(255,255,255,.7);
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, .7);
    transition: all .3s;
    margin-top: 2px;
    position: relative;
    top: 0px;
    font-weight: bold;
    cursor: pointer;
}

.btn-group {
    display: flex;
    margin-top: .5rem;
}

.btn-group > button {
    border-radius: 0;
}

.btn-group > button:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.btn-group > button:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.control-btn:hover {
    background-color: rgba(255, 255, 255, .9);
}

.control-btn:active {
    transition: all 0s;
    top: 2px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

.control {
    width: calc(100% - 1rem);
    border: none;
    padding: .5rem;
    margin: .5rem 0;
    box-shadow: inset 0px 0px .5rem rgba(0, 0, 0, .5);
    border-radius: .25rem;
    background-color: #fff;
    outline: none;
    color: #4285f4;
}

select.control {
    width: 100%;
    font-family: monospace;
}

.control-group {
    width: 100%;
    box-shadow: inset 0px 0px .5rem rgba(0, 0, 0, .5);
    border-radius: .25rem;
    background-color: #fff;
    display: flex;
    padding: .5rem 0;
    margin: .5rem 0;
}

.control-group > label {
    padding-left: .75rem;
    color: grey;
}

.control-group .control {
    box-shadow: none;
    flex: 1;
    margin: 0 .5rem;
    padding: 0;
}

.control-group .checkbox {
    display: inline-flex;
    align-items: center;
    color: #4285f4;
}

.control-group .checkbox input[type="checkbox"] {
    margin: 0 .5rem;
    padding: 0;
}

.css-editor, .html-editor, .smart-editor {
    width: 330px;
    height: 600px;
}

.CodeMirror {
    height: 100%;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.CodeMirror-hscrollbar::-webkit-scrollbar {
    height: 7px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
    width: 7px;
}
 
.CodeMirror-hscrollbar::-webkit-scrollbar-track, .CodeMirror-vscrollbar::-webkit-scrollbar-track {
    background: transparent;
}
 
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb, .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
    background-color:  #4285f4;
    opacity: .5;
    border-radius: 3px;
}

.CodeMirror-scrollbar-filler {
    background: transparent;
}

.canvas {
    position: absolute;
    z-index: 0;
    top: 5rem;
    right: calc(5rem + 280px);
    left: calc(5rem + 330px);
    margin: auto;
    width: auto;
    max-width: 800px;
    background-image:repeating-linear-gradient(0deg, #fff, #fff 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #fff, #fff 1px, transparent 1px, transparent 40px);
    border-radius: .25rem;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, .3);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-code {
    list-style: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: rgba(255, 255, 255, .5);
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    padding-left: 2rem;
}

.switch-code li {
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    opacity: .5;
}

.switch-code li:hover {
    opacity: 1;
}

.switch-code li.active {
    opacity: 1;
}

iframe {
    border: none;
}

.smart-editor {
    overflow-y: auto;
}

.smart-editor::-webkit-scrollbar {
    width: 7px;
}
 
.smart-editor::-webkit-scrollbar-track {
    background: transparent;
}
 
.smart-editor::-webkit-scrollbar-thumb {
    background-color:  #4285f4;
    opacity: .5;
    border-radius: 3px;
}

.smart-editor ul {
    list-style: none;
    padding: 0;
}

.smart-editor > ul > li ul li {
    padding-left: .5rem;
}

.smart-editor li {
    margin: .5rem 0 0 0;
}

.smart-editor li > a > span {
    font-weight: normal;
    margin-left: .5rem;
}

.smart-editor li > a {
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    display: block;
    padding: .5rem 0 .5rem .5rem;
    cursor: pointer;
    transition: opacity .3s, background-color .3s;
    font-weight: bold;
    position: relative;
}

.smart-editor li > a.selected {
    background-color: #4285f4;
}

.smart-editor li > a:hover {
    opacity: .7;
}

.smart-editor li > ul {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s;
}

.smart-editor li.collapsed > ul {
    height: auto;
    opacity: 1;
}

.smart-editor li > a > .actions {
    position: absolute;
    right: 1rem;
}

.smart-editor li > a > .actions > a {
    margin-left: 1rem;
}